{% extends "layout.html" %}
{% block content %}
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                Edit Users
            </div>
            <u></u>
            <br>
            <div class="card-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control form-control-lg is-invalid" name="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <a href="" class="btn btn-outline-info">Update</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}